

@import "variables";



.mat-column-getster_id {
  border-right: 1px solid $secondary-color;
  // text-align: center;
}
.mat-column-entry_type {
  border-right: 1px solid $secondary-color;
  // text-align: center;
}
.mat-column-entry_date_time {
  border-right: 1px solid $secondary-color;
  // text-align: center;
}
.mat-column-entry_by_user_name {
  border-right: 1px solid $secondary-color;
  // text-align: center;
}
.mat-column-entry_by_user_category {
  // border-right: 1px solid $secondary-color;
  // text-align: center;
}
