<div>
  <!-- <p class="primary-heading">List of Common Non Operational Days for your educational Institution:</p> -->

  <!-- date -->
  <!-- <div class="mt-1">
    <form [formGroup]="form">
      <mat-form-field appearance="outline"
        class="w-[95%] xs:w-full component--mat-form-field__custom-input normal-text-heading gt-sm:w-[100%]">
        <input matInput placeholder="Placeholder" placeholder="Select Date" formControlName="multidate" readonly
          class="para-bold" />
        <mat-error>Please Select Date</mat-error>
        <mat-menu #appMenu="matMenu" class="w-[250px] drop-calendar">
          <div (click)="$event.stopPropagation() ">
            <mat-calendar [dateFilter]="isDateDisabled" class="drop-calendar" #calendar
            [dateClass]="isSelected" [dateClass]="dateClass" ></mat-calendar>
            (selectedChange)="select($event, calendar)"
          </div>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" class="float-right">
          <mat-icon>calendar_today</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div> -->
  <div class="mt-1">
    <div><span class="primary-heading">Customize Non Operational Days for the below selected User Category:</span></div>
    <mat-tree #tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl"
      class="example-tree mat-tree-position gt-md:w-[70%] md:w-[70%] h-[250px] overflow-auto" style="border: 1.5px solid black;">
      <!-- Without Children -->
      <mat-tree-node *matTreeNodeDef="let node">
        <li class="mat-tree-node" class="ml-4">
          <mat-radio-group [(ngModel)]="selected_category_name_val" (click)="getSelectedCategory(node)">
            <mat-radio-button [value]="node">
              <span class="txtColor">
                {{ node.user_category_name }}
              </span>
            </mat-radio-button>
          </mat-radio-group>
        </li>
      </mat-tree-node>

      <!-- With Children -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
        <li>
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.Name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{
                nestedTreeControl.isExpanded(node)
                ? "expand_more"
                : "chevron_right"
                }}
              </mat-icon>
            </button>
            {{ node.user_category_name }}
          </div>
          <ul class="ml-4" [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
  <p class="gt-xs:flex mt-2">
    <span class="normal-heading">
      Add / Edit Custom and Cancel Common Non Operational Days for:
      <span class="red-heading"> {{categoryname}}</span>
    </span>
  </p>

  <div class="gt-xs:flex mt-2">
    <div class="flex">
      <div>
        <button mat-raised-button class="primary-button " (click)="onInsertClick()" [disabled]="is_add_custom">Add Custom</button>
      </div>
      <div class="ml-2">
        <button mat-raised-button class="primary-button " (click)="onEditClick()" [disabled]="editbtn == false">Edit
          Custom</button>
      </div>
      <div class="ml-2">
        <button mat-raised-button class="primary-button " (click)="deletebutton()" [disabled]="deletebtn == false">Delete
          Custom</button>
      </div>
    </div>
    <div class="gt-xs:flex mt-2 gt-xs:mt-0">
      <div class="gt-xs:ml-2">
        <button mat-raised-button class="primary-button " (click)="postCancelNonOperationalDays()"
          [disabled]="cancelbtn == false">Cancel Common Non Operational Day</button>
      </div>
    </div>
    <div class="mb-auto mt-auto ml-2 normal-heading">
      <mat-checkbox (change)="check_checkbox($event)" [disabled]="is_add_custom">All</mat-checkbox>
    </div>
  </div>

  <div class="mt-2">
    <div>
      <div class="mat-elevation-z8 mt-2 table-responsive w-full gt-xs:w-fit laptop:w-fit">
        <div id="pdfTable">
          <table id="excel_table" matSort mat-table #table [dataSource]="dataSource"
            style="margin-left:auto; margin-right:auto"
            class="component--mat-table__custom-table checklist-table table-bordered table-sm block">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef style="min-width: 180px; word-wrap: break-word; white-space: nowrap;
                padding-left: 8px; padding-right: 8px;
                vertical-align: middle;
                      text-align: center;
                      border-right: 1px solid #9a9a9a;">
                Date
              </th>
              <!-- <tr *ngFor="let item of item | orderBy: sortOrder"> -->
              <td style="border-right: 1px solid #9a9a9a;
              vertical-align: middle;
              padding-left: 8px;
                      text-align: left;
                      border-right: 1px solid #9a9a9a;" mat-cell *matCellDef="let element">
                <div class="flex">
                  <div> <mat-radio-button (click)="selectRow(element)">
                      {{ element.new_custom_non_operational_day_date | date:'dd MMM YYYY'}}{{element.common_non_operational_day_date | date:'dd MMM YYYY'}}
                    </mat-radio-button>
                  </div>
                </div>


              </td>
              <!-- </tr> -->
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="CommonCustom" style="">
              <th mat-header-cell *matHeaderCellDef style="min-width: 180px;word-wrap: break-word; white-space: nowrap;
                 padding-left: 8px; padding-right: 8px;
                 vertical-align: middle;
                      text-align: center;
                      border-right: 1px solid #9a9a9a;
                     ">
                Common/Custom? </th>
              <td style="
              vertical-align: middle;
              padding-left: 8px;
                      text-align: left;
                      border-right: 1px solid #9a9a9a;" mat-cell *matCellDef="let element">
                <div class="">{{ element.flag == 1 ? 'common':'custom' }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="IsCommonNonOperationalDayCancelled" style="">
              <th mat-header-cell *matHeaderCellDef style="min-width: 220px;word-wrap: break-word; white-space: nowrap;
                 padding-left: 8px; padding-right: 8px;
                 vertical-align: middle;
                      text-align: center;
                     ">
                Is Common Non Operational<br> Day Cancelled? </th>
              <td style="
              vertical-align: middle;
              padding-left: 8px;
                      text-align: left;" mat-cell *matCellDef="let element">
                <div class="" *ngIf="element.is_common_non_operational_day_cancelled == 1">Yes</div>
                <div class="" *ngIf="element.is_common_non_operational_day_cancelled == 0">No</div>
                <div class="" *ngIf="element.is_common_non_operational_day_cancelled == null">-</div>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="text-align: center"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"
              (click)="selection.toggle(row); onRowClicked(row)" (mouseover)="row.hovered = true"
              (mouseout)="row.hovered = false"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="3">
                No data matching the filter
                <!-- "{{ input.value }}" -->
              </td>
            </tr>
          </table>
        </div>
        <mat-paginator class="component--mat-pagination__size" #paginator #paginatorElement
          [length]="dataSource.data.length" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"
          [allValue]="dataSource.data.length" appAddAllToPaginator>
        </mat-paginator>
        <div class="flex bg-white-black" id="export_btn">
          <div class="custom-mat-floating-label">
            <mat-form-field appearance="outline" class="component--mat-form-field__custom-input pl-2">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" #input />
            </mat-form-field>
          </div>
          <div class="w-full flex justify-end">
            <span class="p-5 export-btn" [matMenuTriggerFor]="menu">Export</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Mat Menu -->

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="downloadAsPDF()">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>Print / Export PDF</span>
      </button>
      <button mat-menu-item (click)="exportReport('sample.xlsx')">
        <mat-icon>grid_on</mat-icon>
        <span>Export SpreadSheet</span>
      </button>
      <button mat-menu-item (click)="exportReport('sample.csv')">
        <mat-icon>grid_on</mat-icon>
        <span>Export csv File</span>
      </button>
      <button mat-menu-item (click)="exportReport('sample.json')">
        <mat-icon>grid_on</mat-icon>
        <span>Export json</span>
      </button>
    </mat-menu>
  </div>
</div>
